# Compiled class files
*.class

# Package Files
*.jar
*.war
*.ear

# Log files
*.log

# Temporary files
*.tmp

# Maven build directory
/target/

# Gradle build directory and cache
/build/
.gradle/
!gradle-wrapper.jar

# IDE files
.idea/
*.iml
.project
.classpath
.settings/
.vscode/

# Operating System files
.DS_Store
Thumbs.db

# JVM crash logs
hs_err_pid*